/* TABLE OF CONTENTS
=====================================
  12:   GENERAL
  85:   HEADER
  122:  SVG ELEMENTS
  146:  HERO
  157:  SUB-FOOTER
  173:  FOOTER
  202:  MODAL
*/

/* GENERAL
===================================== */

@import 'breakpoints.scss';

@font-face {
	font-family: "Helvetica Neue";
	src: url("./assets/fonts/HelveticaNeue.ttc") format("truetype");
	font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --teal: #47bb9e;
  --yellow: #eab544;
  --blue: #1d4288;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

  &[data-modal] {
    @include for-desktop-up {
      overflow: hidden;
    }
  }
}

a {
  color: var(--teal);
  white-space: nowrap;

  &:hover {
    text-decoration: hover;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.7rem;
}

hr {
  width: 270px;
  border: 2px solid var(--teal);

  @include for-desktop-up {
    max-width: 25%
  }
}

p {
  margin: 0 0 0.5rem;
}

.button {
  width: 100%;
  max-width: 320px;
  margin: auto;
  background-color: var(--teal);
  border: 1px solid var(--teal);
  padding:1rem 0;
  border-radius: 0.25rem;
  letter-spacing: 1.5px;
  white-space: nowrap;
  color: #FFF;
  font-weight: bold;
  
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: darken(#47bb9e, 10%);
    border: 1px solid darken(#47bb9e, 10%);
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(#38977f, 0.5);
    box-shadow: 0 0 0 0.28rem rgba(#47bb9e, 0.5);
  }

  @include for-desktop-up {
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 0px;
  }

  @include for-big-desktop-up {
    font-size: 1.3rem;

    letter-spacing: 1.5px;
  }
}

.us-consumers {
  margin: 0;
  font-size: 80%;
  padding: 1rem 2rem 0;
  
  @include for-desktop-up {
    padding-top: 1rem;
  }
}

#contact {
  color: var(--teal);
  pointer-events: all;

  @media (hover: hover) {
    pointer-events: none;
  }
}

/* HEADER
===================================== */

.header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 1rem 1.8rem;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  word-break: normal;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  z-index: 99;

  @media screen and (min-width: 500px) {
    .header-break {
      display: none;
    }
  }

  @include for-desktop-up {
    padding: 1.4rem 2rem;
    font-size: 1rem;
    align-items: center;
  }

  @include for-desktop-up {
    // height: 100px;
    font-size: 1.5rem;
  }
}

.header p {
  margin: 0;
}

/* MAIN CONTENT
===================================== */

.container {
  max-width: 1440px;
  margin: auto;
}

/* HERO
===================================== */

section#hero {
  padding-bottom: 1rem;
  color: #FFF;
}

/* HERO MOBILE
===================================== */
section#hero #canvas-mobile {
  display: block;

  @include for-desktop-up {
    display: none;
  }
}

section#hero #canvas-mobile #hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1.4px;
  line-height: 1.05;
  text-align: center;
}

section#hero #canvas-mobile #hero-text h2 {
  font-weight: 600;
  font-size: 1.9rem
}

section#hero #canvas-mobile #hero-text p {
  font-size: 1.49rem;
}

section#hero #canvas-mobile #cta {
  height: 100%;
  display: flex;
  align-items: center
}

section#hero #canvas-mobile #cta p {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  letter-spacing: 0.8px;
  margin: 0;
}

/* HERO DESKTOP
===================================== */
section#hero #canvas-desktop {
  display: none;
  
  @include for-desktop-up {
    display: block;
  }
}

// section#hero #canvas-desktop #hero-text {
//   padding: 0.2rem 1rem;
// }

section#hero #canvas-desktop #hero-text h1 {
  margin-bottom: 0.5rem;
  letter-spacing: 1.4px;
  line-height: 1.05;
}

section#hero #canvas-desktop #hero-text h2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1
}

section#hero #canvas-desktop #hero-text p {
  font-size: 0.65rem;
  line-height: 1.3
}

section#hero #canvas-desktop #cta {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}

section#hero #canvas-desktop #cta p {
  font-size: 0.7rem;
  font-weight: bold;
  padding-left: 1rem;
  letter-spacing: 0.8px;
  margin: 0;
}

#hero-bg {
  fill: var(--teal);
}

#cta p {
  color: #000;
}

#cta p #contact {
  color: var(--teal);
}

.info-text a {
  fill: var(--teal);
}

/* VIDEO SECTION
===================================== */

#video-section {
  padding: 0 0 3rem;

  @include for-desktop-up {
    padding: 1rem 0;
  }
}

#video-section #title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--teal);

  @include for-desktop-up {
    font-size: 3rem;
    letter-spacing: 3px;
  }
}

#video-section #cta {
  max-width: 30ch;
  margin: auto;
  text-align: center;

  @include for-desktop-up {
    max-width: 100%;
  }
} 

#video-section #video-container {
  width: 90%;
  padding: 1rem 0;
  margin: auto;

  @include for-desktop-up {
    padding: 1rem 0;
    width: 60%;
  }
}

/* COLUMN SECTION
===================================== */
#column-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  @include for-desktop-up {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 3rem 4rem;
  }
}

#column-section hr {
  margin: 0 auto;

  @include for-desktop-up {
    display: none;
    visibility: hidden;
  }
}

#column-section .col {
  position: relative;
  text-align: center;
  margin: 3rem auto;

  @include for-desktop-up {
    margin: 0;
  }

  &:first-child {
    .body {
      margin-bottom: 1.6rem;
    }
  }

  &:nth-of-type(2) {

    @include for-desktop-up {
      margin: 0 auto;
    }
  }
}

#column-section .col .img-container {
  height: 90px;
  width: 90px;
  margin: 10px auto;
  border: 3px solid var(--teal);
  padding: 0.8rem;
  border-radius: 50%;

  @include for-desktop-up {
    height: 110px;
    width: 110px;
    border-width: 4px;
    padding: 1rem;
  }
}

#column-section .col .img-container img {
  height: 100%;
}

#column-section .col .step {
  font-size: 1.625rem;
  letter-spacing: 1.4px;
}

#column-section .col .body {
  width: 26ch;
  font-size: 1.2rem;

  @include for-desktop-up {
    font-size: 1.2rem;
  }
}

/* TAKE PART SECTION
===================================== */
#take-part-section {
  padding: 1rem 0;
}

#take-part-section #container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  @include for-desktop-up {
    width: 65%
  }
}

#take-part-section #title {
  text-align: center;
  margin: 0 auto 0.7rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;

  @include for-desktop-up {
    font-size: 3rem;
  }
}

#take-part-section ul {
  list-style: none;
  margin: auto;
  padding-left: 0.5rem;


  @include for-desktop-up {
    max-width: 100%;
  }
}

#take-part-section ul li {
  line-height: 1.2;
  font-size: 1.5rem;
  display: flex;
  align-items: center;

  @include for-desktop-up {
    font-size: 3rem;
  }

  &::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--teal); /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1rem; /* Also needed for space (tweak if needed) */

  @include for-desktop-up {
    width: 2rem;
  }
  }
}

#take-part-section ul li span {
  font-size: 1.2rem;
  
  @include for-desktop-up {
    font-size: 1.375rem;
  }
}

/* SUB-FOOTER
===================================== */

.sub-footer {
  height: 100px;
  display: flex;
  padding: 0 1.8rem 1rem;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: normal;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;

  @include for-desktop-up {
    font-size: 1.5rem;
  }
}

.sub-footer p {
  margin: 0;
}

.sub-footer a {
  @include for-desktop-up {
    pointer-events: none;
  }
}

/* FOOTER
===================================== */

footer {
  height: 100px;
  padding: 1rem 2rem;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-desktop-up {
    font-size: 1.25rem;
  }
}

footer a {
  color: rgba(0, 0, 0, 0.7);
  transition: color 200ms ease-in-out;

  &:hover {
    color: black;
  }
}

footer span {
  margin: 0 1rem;
}

/* MODAL
===================================== */

#modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
  padding: 0.8rem 0.8rem 8rem;
  overflow: scroll;

  &[data-active] {
    opacity: 1;
    pointer-events: all;

    .modal-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 200ms ease-in-out;
      transition-delay: 100ms;
    }
  }

  @include for-desktop-up {
    padding: 120px 2rem 2rem;
  }
}

#modal-content {
  width: 100%;
  margin: auto;
  padding: 2rem 1rem;
  background-color: white;
  border: 2px solid var(--teal);
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: repeat(3, auto);
  opacity: 0;
  transform: translateY(30px);
  transition: all 200ms ease-in-out;
  transition-delay: 100ms;

  @include for-desktop-up {
    width: 90vw;
    max-width: 900px;
    padding: 2rem;
    -ms-grid-columns: 1fr auto 1.5fr;
    grid-template-columns: 1fr auto 1.5fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3.5rem;
  }
}

#modal-content h3 {
  margin-bottom: 1rem;
}

#modal-content p {
  font-size: 1rem;
  margin-bottom: 1rem;

  &:nth-child(4) {
    margin-bottom: 0;
  }
}

#modal-content a[href^="tel"] {
  @include for-desktop-up {
    pointer-events: none;
  }
}

#modal-content p:last-child {
  margin-bottom: 0;
}

.numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.number {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 1.5rem;
  align-items: center;

  &:last-child {
    align-items: start;
    div {
      margin-top: 2.4rem;
    }
  }
}

.cholesterol-levels ol {
  padding-left: 1.1rem;
  margin-top: 0.2rem 0 0 2rem;
}

.cholesterol-levels li + li {
  margin-top: 0.2rem;
}

.modal-content .sample {
  height: auto;
  max-height: 305px;
  width: 80%;
  margin-bottom: 1rem;
}

.modal-button {
  position: absolute;
  top: 0.5rem;
  right: 0.9rem;
  padding: 0;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.break {
  height: 100%;
  border: 1px solid var(--teal);
}