html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #21374b;
}

#canvas {
  width: 500px;
  visibility: hidden;
}